@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    background-size: 100%;
    position: relative;
    background-color: #0c0c0c;
}

body {
    filter: blur(50%);
    background-size: 100%;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0c0c0c;
    background-size: cover;
   }
   
:root {
    background-color: rgb(29,26,26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

h1 {
    font-size: 7.4rem;
    color: #ffff;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
    color: #ffff;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width:  30rem;
    text-align: center;
    margin-bottom: 1rem;
    background: #fc2f68;
    border-radius: 3rem;
    border-style: none;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #ff6691;
    transition: transform 150ms;
    transform: scale(1.03);
    background-color: #ff93b2;
    color: rgb(0, 0, 0);
}


#fname {
    font-size: 20pt;
    padding: 2rem 0;
    width: 30rem;
    height: 4.4rem;
    margin-bottom: 20px;
    background-color: #ffff;
    padding: 12px 20px;
    margin-bottom: 3rem;

}


.vasco img {
    margin-left: auto;
    margin-right: auto;
    height: 5cm;
    width: 5cm;
    justify-content: center;
}
